
.titulo-index h1 {
    display: flex;
    justify-content:center;
margin-top: 40px;
margin-bottom: 50px;
font-size: 35px;
color: #fff;
}
.titulo-index h2 {
    display: flex;
    justify-content:center ;
margin-top: 40px;
margin-bottom: 50px;
font-size: 30px;
color: #fff;
}

.titulo-index p {
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}

 /* card vende tu auto */
.cambia-vende {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
padding: 20px;
gap: 20px;
}


.cambia-vende,.img-cambia-vende {
    display: flex;
    justify-content: flex-end;
    background-color: #2fb4cc;
    }

.art-cambia-vende {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #2fb4cc;
    cursor: default;

}


.cambia-vende .art-cambia-vende a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 400ms ease;
    justify-content: center;
}

    .cambia-vende .art-cambia-vende a:hover {
        background-color: #544c54;
        color: #fff;

}
.cambia-vende .art-cambia-vende{
    padding: 15px;
    text-align: center;
}

.cambia-vende .art-cambia-vende h2 {
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}

.cambia-vende .art-cambia-vende p {
    line-height: 1.5;
    color:white;
    font-size: 25px;
    margin-bottom: 50px;
}



    .cambia-vende:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%); }


/* cards index */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}

.cardsInfoAuto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.cardsInfoAuto img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.cardsInfoAuto div {
    padding: 20px;
    background-color: #fff;
}



.cardsInfoAuto .contenido-card {
    padding: 15px;
    text-align: center;
}
.cardsInfoAuto .contenido-card p {
    line-height: 1.5;
    color: #6a6a6a; }

    .cardsInfoAuto .contenido-card h3 {
        font-weight: 400px;
        margin-bottom: 15px;
    }
    .cardsInfoAuto .contenido-card a {
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        transition: all 400ms ease;
    }
    .cardsInfoAuto .contenido-card a:hover {
        background-color: #2fb4cc;
        color: #fff;
    }
    .cardsInfoAuto:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%); }
    .cardsInfoAuto .contenido-card h3 {
        font-size: 30px;
        color: black;
    }

/* card financia */

.financia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}


.financia,.img-financia {
    display: flex;
    justify-content: center;
    background-color: #fff;
    }

.art-financia {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    cursor: default;
}


.financia .art-financia a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    justify-content: center;
}

    .financia .art-financia a:hover {
        background-color: #2fb4cc;
        color: #fff;
    }

.financia .art-financia{
    padding: 15px;
    text-align: center;
}

.financia .art-financia h2 {
    font-size: 50px;
    margin-bottom: 50px;
    color: black;
}

.financia .art-financia p {
    line-height: 1.5;
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
}

.img-financia {
    display: flex;
    align-items: end;
}

/* imgindex */

.img-auto {
    display: flex;
    height: 300px;
    object-fit: cover;
    gap: 10px;

}

.img-index {
    display: flex;
    flex-wrap: wrap; 
justify-content: center;
}

.iframe {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.ubicanos-titulo  h3 {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
}

.nuestrosAutos h3 {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: start;
    font-size: 50px;
    color: #fff;

}

.iframe-muestra-auto {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
