.tituloindex h2 {
    display: flex;
    justify-content:center;
margin-top: 100px;
margin-bottom: 50px;
font-size: 50px;
color: #fff;
}
.tituloindex p {
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}
.tituloindex h2:hover {
    transform:scale(0.6);
    transition: 0.5s;

}
 /* card vende tu auto */
.cambiaovende {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
padding: 20px;
gap: 20px;
}


.cambiaovende,.img-cambia-vende {
    display: flex;
    justify-content: flex-end;
    background-color: #2fb4cc;
    }

.art-cambiaovende {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #2fb4cc;
    cursor: default;

}


.cambiaovende .art-cambiaovende a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 400ms ease;
    justify-content: center;
}

    .cambiaovende .art-cambiaovende a:hover {
        background-color: #544c54;
        color: #fff;

}
.cambiaovende .art-cambiaovende{
    padding: 15px;
    text-align: center;
}

.cambiaovende .art-cambiaovende h2 {
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}

.cambiaovende .art-cambiaovende p {
    line-height: 1.5;
    color:white;
    font-size: 25px;
    margin-bottom: 50px;
}



    .cambiaovende:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%); }


/* cards index */
.cardcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.car img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.car div {
    padding: 20px;
    background-color: #fff;
}



.car .contenidocard {
    padding: 15px;
    text-align: center;
}
.car .contenidocard p {
    line-height: 1.5;
    color: #6a6a6a; }

    .car .contenidocard h3 {
        font-weight: 400px;
        margin-bottom: 15px;
    }
    .car .contenidocard a {
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        transition: all 400ms ease;
    }
    .car .contenidocard a:hover {
        background-color: #2fb4cc;
        color: #fff;
    }
    .car:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%); }
    .car .contenidocard h3 {
        font-size: 30px;
        color: black;
    }

/* card financia */

.financia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}


.financia,.img-financia {
    display: flex;
    justify-content: center;
    background-color: #fff;
    }

.art-financia {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    cursor: default;
}


.financia .art-financia a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    justify-content: center;
}

    .financia .art-financia a:hover {
        background-color: #2fb4cc;
        color: #fff;
    }

.financia .art-financia{
    padding: 15px;
    text-align: center;
}

.financia .art-financia h2 {
    font-size: 50px;
    margin-bottom: 50px;
    color: black;
}

.financia .art-financia p {
    line-height: 1.5;
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}

.img-financia {
    display: flex;
    align-items: end;
}

/* imgindex */

.imgauto {
    display: flex;
    height: 300px;
    object-fit: cover;
    gap: 10px;

}

.imgindex {
    display: flex;
    flex-wrap: wrap; 
justify-content: center;
}

